h1 {
    color:darkgreen;
    font-family: georgia;
    text-align: center
}
h2 {
    font: georgia;
    text-align: center
}
p {
    line-height: 25px;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p#p01 {
    text-transform: uppercase;
}
img {
    float: left;
    margin: 10px 10px 0 0;
}